In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"D:\aegis\Advance Python\Heath Care\liver.csv")
df

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [5]:
df.Dataset.value_counts()

1    416
2    167
Name: Dataset, dtype: int64

In [6]:
df1=df

In [7]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder()
df1['Gender']= label_encoder.fit_transform(df1['Gender']) 
df1['Gender'].unique()

array([0, 1], dtype=int64)

In [9]:
df1.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [10]:
df1[df1.Albumin_and_Globulin_Ratio.isnull()]

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
209,45,0,0.9,0.3,189,23,33,6.6,3.9,NaN,1
241,51,1,0.8,0.2,230,24,46,6.5,3.1,NaN,1
253,35,0,0.6,0.2,180,12,15,5.2,2.7,NaN,2
312,27,1,1.3,0.6,106,25,54,8.5,4.8,NaN,2

In [11]:
df1.dropna(inplace=True)

In [12]:
df1

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,1,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,1,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,1,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,1,1.0,0.3,216,21,24,7.3,4.4,1.50,2

## Model1: Random Forest

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X=df1.drop('Dataset',axis=1)
y=df1.Dataset

In [15]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=20,stratify = y)

In [16]:
from sklearn.ensemble import RandomForestClassifier

In [17]:
model_1 = RandomForestClassifier()
model_1.fit(X_train, y_train)
y_pred1 = model_1.predict(X_test)

In [18]:
from sklearn.metrics import accuracy_score,mean_squared_error

In [19]:
accuracy_score(y_test,y_pred1)

0.7327586206896551

In [20]:
from sklearn.model_selection import RandomizedSearchCV

In [21]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]

# Number of features to consider at every split
max_features = ['auto', 'sqrt']

# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(1, 110, num = 11)]
#max_depth.append(None)

# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]

# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]

# Method of selecting samples for training each tree
bootstrap = [True, False]

In [22]:
#Create the random grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

In [23]:
# Use the random grid to search for best hyperparameters

# First create the base model to tune
rf = RandomForestClassifier()

# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = param_grid, 
                               n_iter = 100, cv = 3, verbose=2, random_state = 10, n_jobs = -1)

# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   20.5s
[Parallel(n_jobs=-1)]: Done 146 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 300 out of 300 | elapsed:  3.1min finished

RandomizedSearchCV(cv=3, estimator=RandomForestClassifier(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [1, 11, 22, 33, 44, 55, 66,
                                                      77, 88, 99, 110],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=10, verbose=2)

In [24]:
rf_random.best_params_

{'n_estimators': 1000,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 1,
 'bootstrap': False}

In [25]:
# Manually provide the best parameters to model for training
rf_reg = RandomForestClassifier(**{'n_estimators': 1000,
 'min_samples_split':5,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 1,
 'bootstrap': False})

In [26]:
rf_reg.fit(X_train, y_train)

RandomForestClassifier(bootstrap=False, max_depth=1, min_samples_leaf=2,
                       min_samples_split=5, n_estimators=1000)

In [27]:
y_pred2 = rf_reg.predict(X_test)

In [28]:
accuracy_score(y_test,y_pred2)

0.7155172413793104

In [29]:
print("Score based on testing data:")
print("Adjusted R-squared : {}%".format((rf_reg.score(X_test,y_test)*100).round(2)))
print("RMSE :", np.sqrt(mean_squared_error(y_pred2,y_test)).round(2))

Score based on testing data:
Adjusted R-squared : 71.55%
RMSE : 0.53

## Knn

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
X=df1.drop('Dataset',axis=1)
y=df1.Dataset

In [68]:
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2,random_state=20,stratify = y)

In [69]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier

In [70]:
#estimators = [('standardize', StandardScaler()),('knn', KNeighborsClassifier())] 
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('knn', KNeighborsClassifier()))
model = Pipeline(estimators)

In [71]:
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score

kfold = StratifiedKFold(n_splits=10, shuffle = True, random_state=7)
results = cross_val_score(model, X_train, y_train, cv=kfold)

In [72]:
print(results.mean())
print(results.std())

0.6261794634597596
0.0817870156550732

In [73]:
search_space = [{
                 'knn__n_neighbors': range(1,20),
                 'knn__weights': ['distance']
                }]

In [74]:
from sklearn.model_selection import GridSearchCV

kfold = StratifiedKFold(n_splits=10, shuffle = True, random_state=10)
clf = GridSearchCV(model, search_space, cv=kfold, return_train_score=True ,verbose=False)
clf = clf.fit(X_train, y_train)

In [75]:
clf.best_estimator_

Pipeline(steps=[('standardize', StandardScaler()),
                ('knn',
                 KNeighborsClassifier(n_neighbors=19, weights='distance'))])

In [79]:
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('knn', KNeighborsClassifier(n_neighbors = 19)))
model = Pipeline(estimators)

In [80]:
model.fit(X_train, y_train)

Pipeline(steps=[('standardize', StandardScaler()),
                ('knn', KNeighborsClassifier(n_neighbors=19))])

In [81]:
Predicted_Class = model.predict(X_test)
print(accuracy_score(y_test,Predicted_Class))

0.7672413793103449

In [82]:
print("Score based on testing data:")
print("Adjusted R-squared : {}%".format((model.score(X_test,y_test)*100).round(2)))
print("RMSE :", np.sqrt(mean_squared_error(Predicted_Class,y_test)).round(2))

Score based on testing data:
Adjusted R-squared : 76.72%
RMSE : 0.48

In [83]:
import pickle
filename = 'Liver_model.pkl'
pickle.dump(model, open(filename, 'wb'))